@using System.Web

<div class="container">
    <div class="row justify-content-center">
        <h2>Properties of @ViewBag.Element.Trim():</h2>

        @if (ViewBag.Properties.Count != 0)
        {
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Property Name</th>
                        <th>Value</th>
                        <th>Unit</th>
                        <th>Comments</th>
                        <th>Reference</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewBag.Properties.Count; i++)
                    {
                        <tr>
                            <td>@Html.Raw(ViewBag.Properties[i].Name)</td>
                            <td>@Html.Raw(ViewBag.Properties[i].GetFormattedValue())</td>
                            <td>@Html.Raw(ViewBag.Properties[i].Unit)</td>
                            <td>@Html.Raw(ViewBag.Properties[i].Comments)</td>
                            <td><a asp-action="LitRef" asp-route-id="@ViewBag.Properties[i].Reference" target="_blank">@ViewBag.Properties[i].Reference</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>No basic properties</h4>
        }

        <h2>Radii Ionic properties of @ViewBag.Element:</h2>

        @if (ViewBag.RIProperties.Count != 0)
        {
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Property Name</th>
                        <th>Charge</th>
                        <th>CN</th>
                        <th>Value</th>
                        <th>Unit</th>
                        <th>Comments</th>
                        <th>Reference</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewBag.RIProperties.Count; i++)
                    {
                        <tr>
                            <td>@Html.Raw(@ViewBag.RIProperties[i].Name)</td>
                            <td>@Html.Raw(@ViewBag.RIProperties[i].Charge)</td>
                            <td>@Html.Raw(@ViewBag.RIProperties[i].CN)</td>
                            <td>@Html.Raw(@ViewBag.RIProperties[i].GetFormattedValue())</td>
                            <td>@Html.Raw(@ViewBag.RIProperties[i].Unit)</td>
                            <td>@Html.Raw(ViewBag.RIProperties[i].Comments)</td>
                            <td><a asp-action="LitRef" asp-route-id="@ViewBag.RIProperties[i].Reference" target="_blank">@ViewBag.RIProperties[i].Reference</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>No Radii Ionic properties</h4>
        }
    </div>
    <div class="row justify-content-center">
        <div class="d-grid gap-2 col-4 mx-auto mt-3">
            <a asp-action="Mendel" asp-route-mode="@ViewBag.Mode" class="btn btn-primary" type="button">Change element</a>

            @if (ViewBag.Mode == 2)
            {
                <a asp-action="PropsList" asp-route-mode="2" asp-route-elemId="@ViewBag.ElemId"
               class="btn btn-primary" type="button">Change properties</a>
            }
        </div>
    </div>
</div>